{% extends "richie/base.html" %}
{% load cms_tags static i18n %}

{% block meta_index_rules %}
    <meta name="robots" content="index,follow,all">
{% endblock meta_index_rules %}

{% block topbar_contact %}
{% endblock topbar_contact %}

{% block body_footer_title %}{% endblock body_footer_title %}

{% block body_js %}{% endblock body_js %}

{% block body_mentions %}
    <div class="body-mentions__copyright">
        <p>{% now "Y" %} &copy; EDUlib {% trans "All Rights Reserved." %}</p>
    </div>
    <div class="body-mentions__poweredby">
        <p>
            <small>{% trans "Powered by" %}</small>
            <a class="body-footer__poweredby__link" href="https://github.com/openfun/richie"><strong>Richie</strong></a>
            &
            <a class="body-footer__poweredby__link" href="https://open.edx.org/"><strong>open edX</strong></a>
        </p>
    </div>
{% endblock body_mentions %}
