{% extends "richie/base.html" %}
{% load static i18n %}

{% block meta_favicons %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'richie/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'richie/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'richie/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'richie/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'richie/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<link rel="shortcut icon" href="{% static 'richie/favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="{% static 'richie/favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
{% endblock meta_favicons %}

{% block userlogin %}
<li class="topbar__item topbar__item--register">
    <a href="https://cours.edulib.org/register">{% trans "Sign up" %}</a>
</li>
<li class="topbar__item topbar__item--login">
    <a href="https://cours.edulib.org/login">{% trans "Login" %}</a>
</li>
{% endblock userlogin %}

{% block topbar_contact %}{% endblock topbar_contact %}

{% block body_footer_title %}{% endblock body_footer_title %}

{% block body_mentions %}
<div class="body-mentions__copyright">
    <p>{% now "Y" %} &copy; EDUlib {% trans "All Rights Reserved." %}</p>
</div>
<div class="body-mentions__poweredby">
    <p>
        <small>{% trans "Powered by" %}</small>
        <a class="body-footer__poweredby__link" href="https://github.com/openfun/richie"><strong>Richie</strong></a>
        &
        <a class="body-footer__poweredby__link" href="https://open.edx.org/"><strong>open edX</strong></a>
    </p>
</div>
{% endblock body_mentions %}

{% block body_js %}{% endblock body_js %}
